name: Deploy to XREA

on:
  push:
    branches:
      - main

jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v4

      - name: Sync files
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          password: ${{ secrets.FTP_PASSWORD }}
          protocol: ftp
          port: 21
          local-dir: "./"
          server-dir: "/public_html/aeoyna.com/camera/"
          exclude: |
            **/.git*
            **/.git*/**
            **/node_modules/**
            **/*.pfx
            **/*.zip
            **/dist/**
            **/*.md
            **/.vscode/**
